<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148930461271-2m915n8m0ounucuuub7bnr9eu1p6639i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148930461271-2m915n8m0ounucuuub7bnr9eu1p6639i</string>
	<key>API_KEY</key>
	<string>AIzaSyD8vLB0lWk1QEB1gCy0x6E6Ozh-pGxKsqY</string>
	<key>GCM_SENDER_ID</key>
	<string>148930461271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.YaroslavV.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-f4ad4</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-f4ad4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148930461271:ios:43da3538fb2d7598656d12</string>
</dict>
</plist>